/*SECCION DE CSS COMÚN*/

main {
    display: flex;
    justify-content: center;
}

#peli-page {
    width: 80%;
    height: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    padding: 3rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 95%;
}

h3 {
    font-weight: lighter;
    font-size: 120%;
    color: rgb(218, 218, 218);
}

a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}


/*SECCIÓN DE CABECERA*/

#peli-cabecera {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
}


#peli-portada-section {
    width: fit-content;
    display: flex;
    margin-right: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#peli-portada {
    border-radius: 1rem;
    width: 15rem;
}

#trailer-section {
    display: flex;
    margin-bottom: 0;
    width: 50vw;
    height: auto;
}

#peli-trailer {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#peli-title {
    font-size: 2.5em;
    margin-bottom: 10%;
    margin-top: 0;
}

#trailer-button {
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 0.5em;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    width: 15rem;
    height: 2rem;
    transition: background-color 0.3s ease;
}

#trailer-button:hover {
    background-color: rgb(34, 34, 34);
}

#trailer-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*SECCIÓN DE CUERPO*/

#peli-cuerpo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.peli-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 2rem;
    padding: 3%;
}

#info-izquierda {
    margin-right: 3%;

}

#info-derecha {
    margin-left: 3%;
}

#info-header {
    margin-bottom: 2%;
    font-size: 130%;
}

.info-title {
    margin-bottom: 0;
}

#contenedor-detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#fila-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

#peli-sinopsis {
    text-align: left;
    width: 100%;
}



/*SECCIÓN DE CARRUSEL*/

#peli-recomendados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#carrusel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#carrusel {
    display: flex;
    width: fit-content;
    height: auto;
    justify-content: center;
    align-items: center;
}

.portada-recomendacion {
    width: 100%;
    border-radius: 1rem;
}

.peli-recomendada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10vw;
    margin: 0 1rem 0 1rem;
    transition: transform 0.3s ease;
}

.peli-recomendada:hover {
    transform: scale(1.1);
}

#carrusel-anterior,
#carrusel-siguiente {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease;
}

#carrusel-anterior:hover,
#carrusel-siguiente:hover {
    background-color: rgb(34, 34, 34);
}

.icono-slider {
    width: 2vw;
    height: 2vw;
    padding: 0.5rem;
}


/*MEDIA QUERY*/

@media (max-width: 768px) {

    #peli-cabecera {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #trailer-section {
        height: 50vw;
    }

    #trailer-button {
        width: 100%;
    }

    #peli-portada-section {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5%;
    }

    #peli-portada {
        width: 70%;
    }

    #peli-cuerpo {
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }

    #info-izquierda,
    #info-derecha {
        margin: 0;
    }

    #info-izquierda {
        margin-bottom: 5%;
    }

    .peli-info {
        width: 100%;
        padding: 5%;
    }

    #carrusel-anterior,
    #carrusel-siguiente {
        display: none;
    }

    .peli-recomendada {
        margin: 0 0.5rem 0 0.5rem;
        width: 30vw;
    }

    .portada-exceso {
        display: none;
    }
}