
html {
    font-family: Verdana;
}

body {
    margin: 0;
    background-color: rgba(14, 13, 19, 0.9);
    color: rgb(240, 240, 240);
}


header {
    display: flex;
    background-color: black;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#headerSection {
    margin-left: 1.5%;
    margin-bottom: 1%;
}

#logoLink {
    margin-top: 6%;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    z-index: 3;
    box-sizing: border-box;
}

.section-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s;
}

.nav-link:hover {
    color: brown;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.56rem;
    height: 0.18rem;
    margin: 0.31rem auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(57, 121, 178);
}

.textoNav {
    margin: 1%;
    font-size: 110%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.textoNav:hover {
    color: rgb(189, 189, 189);
}


#separator {
    display: inline-flex;
}


main {
    margin: 1%;
}


footer {
    font-size: 80%;
    padding: 0.1%;
    background-color: rgba(20, 19, 24, 0.9);
}

#footer {
    margin-left: 1%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    #headerSection {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    #logoLink {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    #logo {
        width: 70%;
    }

    #headerClickables {
        display: flex;
        align-items: center;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .textoNav {
        margin: 2%;
        font-size: 90%;
    }

    .section-menu {
        position: absolute;
        left: -100%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(46, 41, 36);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .section-item {
        margin: 16px 0;
    }

    .section-menu.active {
        left: 0;
    }

    .textoNav {
        margin: 2%;
        font-size: 90%;
    }

    main {
        margin: 2%;
    }

    footer {
        font-size: 70%;
    }
}