html {
    font-family: Verdana;
}

body {
    margin: 0%;
    background-color: rgba(14, 13, 19, 0.9);
    color: rgb(240, 240, 240);
}

header {
    display: flex;
    background-color: black;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#headerSection {
    margin-left: 1.5%;
    margin-bottom: 1%;
}



#separator {
    display: inline-flex;
}

main {
    margin: 1%;
}

footer {
    font-size: 80%;
    padding: 0.1%;
    background-color: rgba(20, 19, 24, 0.9);
}

#infoFooter {
    padding: 1%;
    padding-bottom: 0%;
    padding-top: 0%;

}

#infoListaFooter {
    display: flex;
    justify-content: flex-start;
    padding-left: 1%;
}

.datoFooter {
    margin: 0%;
    margin-right: 3%;
}

#footerCopyrigth {
    margin-left: 1%;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        display: none;
    }

    #headerSection {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #logo {
        width: 30%;
    }

    main {
        margin: 2%;
    }

    footer {
        font-size: 70%;
    }

    #infoFooter {
        display: none;
    }
}